form{
    margin-top: 100px;
    text-align: left;
}

#hippo{
    font-size: 100px;
    color: mediumpurple;
}
body{
    background-color: #B0E0E6;
}

.Texto{
    font-family: "Nerko One", cursive;

}

#Bb:hover{
    background-color: azure;
    border: 1px plum solid;
    color: black;
}